{% extends "base.html" %}
{% block title %}Dashboard &mdash; FirefliesClearer{% endblock %}

{% block sidebar_status %}
  {% include "partials/sidebar_status.html" %}
{% endblock %}

{% block page %}
<header class="dashboard__header">
  <h1>Dashboard</h1>
</header>
{% if show_sync_opt_in %}
  {% include "partials/_sync_opt_in_banner.html" %}
{% endif %}
{% if sync_status is defined %}
  {% include "partials/_sync_banner.html" %}
{% endif %}
{% include "partials/state_counts.html" %}
{% include "partials/last_activity.html" %}
{% include "partials/needs_attention.html" %}
{% endblock %}
